.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.nft-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 20px;
  border-radius: 30px;
  height: 890px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nft-image {
  margin-bottom: 20px;
}

.nft-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: rotateY(20deg) rotateX(20deg);
  transition: transform 0.3s ease-in-out;
}

.nft-image img:hover {
  transform: rotateY(0deg) rotateX(0deg);
}

.nft-info {
  text-align: center;
}

.nft-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.nft-description {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.nft-owner {
  font-size: 14px;
  color: #ffffff;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}
